.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    &__logo{
        max-width: 100%;
        width: 200px;
    }
    &__navBar{
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        &--item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}